<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   <head>
       <meta charset="UTF-8">
       <title>First Vue.js</title>
       <link rel="stylesheet" href="main.css">
       <script src="https://unpkg.com/vue"></script>
   </head>
<body>
    <div id="vue-app">
        <form id="search">
          Search
          <input name="query" v-model="searchQuery">
        </form>
        <data-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
        </data-grid>
      </div>
      <script type="text/x-template" id="data-template">
        <table>
          <thead>
            <tr>
              <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                {{ key | capitalize }}
                <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="entry in filteredData">
              <td v-for="key in columns">
                {{entry[key]}}
              </td>
            </tr>
          </tbody>
        </table>
      </script>
</body>
</HTML>