<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Vue Test</title>

        <!-- This is a development version of Vue.js! -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

        <!-- import stylesheet -->
        <link rel="stylesheet" href="styles.css">

        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    </head>

    <body>

        <!-- Basic usage -->

        <div id="vue-app">
            <form id="search">
              Search
              <input name="query" v-model="searchQuery">
            </form>
            <data-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
            </data-grid>
          </div>
          <script type="text/x-template" id="data-template">
            <table>
              <thead>
                <tr>
                  <th v-for="key in columns" @click="sortBy(key)" :class="{ active: sortKey == key }">
                    {{ key | capitalize }}
                    <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="entry in filteredData">
                  <td v-for="key in columns">
                    {{entry[key]}}
                  </td>
                </tr>
              </tbody>
            </table>
          </script>
        
          <script src="canadian.js"></script>

    </body>
</html>