<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
   

<div id="app">
    <header class="page-header">
      <h1 class="logo">Twitch Streams</h1>
      <p class="subtitle">by Andreas Remdt</p>
    </header>
  
    <main class="page-content">
      <article :class="'streamer box' + [streamer.active ? ' is-active' : '']" v-for="streamer in filteredStreamers">
        <figure class="image">
          <img :src="streamer.active ? streamer.logo : 'http://via.placeholder.com/150x150'" :alt="streamer.display_name" width="100" height="100">
        </figure>
        <div class="box-content">
          <h2 class="heading">{{ streamer.display_name }}</h2>
          <p class="stream" v-text="streamer.active ? streamer.status : 'Offline'"></p>
  
          <span class="links">
            <a :href="streamer.url" :class="'link' + [streamer.active ? ' is-blue' : '']" v-text="streamer.active ? 'View Stream' : 'Channel'" target="_blank" rel="noopener"></a>
          </span>
        </div>
      </article>
    </main>
  
    <aside class="page-sidebar box">
      <h3 class="heading">Search streamers</h3>
      <input type="search" class="form-control" placeholder="e.g. freeCodeCamp" role="searchbox" v-model="filter">
  
      <h3 class="heading">Filter by activity</h3>
      <div class="checkbox">
        <input type="radio" name="type" id="all" value="all" checked v-model="option">
        <label for="all" class="state">All</label>
      </div>
      <div class="checkbox">
        <input type="radio" name="type" id="streaming" value="streaming" v-model="option">
        <label for="streaming" class="state">Streaming</label>
      </div>
      <div class="checkbox">
        <input type="radio" name="type" id="offline" value="offline" v-model="option">
        <label for="offline" class="state">Offline</label>
      </div>
    </aside>
  </div> 
  
</HTML>