

:root {
    --light-blue:  hsl(210, 100%, 73%);
    --dark-blue:   hsl(217, 100%, 64%);
    --bg-color:    hsl(221, 37%, 90%);
    --title-color: hsl(200, 15%, 54%);
    --text-color:  hsl(199, 18%, 40%);
  
    font: 400 16px/1.2 Roboto, sans-serif;
  }
  
  * {
    margin:          unset;
    padding:         unset;
    box-sizing:      unset;
    font-size:       unset;
    color:           unset;
    text-decoration: unset;
  }
  
  h1, h2, h3 {
    font-weight: 300;
  }
  
  img {
    max-width: 100%;
    
    vertical-align: middle;
  }
  
  body {
    background-color: var(--bg-color);
  }
  
  #app {
    display: grid;
    grid-template-columns: 1fr 10% [start] repeat(6, minmax(0, 10rem)) [end] 10% 1fr;
    grid-row-gap: 3rem;
  
    padding: 2rem 0;
  }
  
  .page-header  { grid-column: start / end; }
  .page-content { grid-column: start / span 4; }
  .page-sidebar { grid-column: 7 / end; }
  
  .heading {
    margin-bottom: .5rem;
  
    font-size: 1.4rem;
  
    color: var(--title-color);
  }
  
  .box {
    padding: 1rem;
  
    box-shadow: 0 3px 10px rgba(0, 0, 0, .1);
    border-radius: .6rem;
    
    background-color: white;
  }
  
  .box-content {
    display: flex;
    flex-direction: column;
  }
  
  .links {
    margin-top: auto;
  }
  
  .link {
    margin-right: 1rem;
  
    color: var(--text-color);
  }
  
  .link.is-blue {
    color: var(--dark-blue);
  }
  
  .form-control {
    --background: hsl(192, 14%, 93%);
    --color: var(--text-color);
  
    margin-bottom: 2rem;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    
    border: none;
    border-radius: .3rem;
    
    font: inherit;
    
    background-color: var(--background);
    color: var(--color);
    
    outline: none;
    -webkit-appearance: none;
  }
  
    .form-control:focus {
      --background: hsl(218, 100%, 96%);
      --color: var(--dark-blue);
    }
  
  .checkbox {
    --border-color: var(--bg-color);
  
    margin-bottom: .8rem;
    padding-left: 1.7rem;
    position: relative;
  
    color: var(--text-color);
  }
  
    .checkbox input[type="radio"] {
      position: absolute;
      left: -9999px;
    }
  
    .checkbox .state::before {
      content: '';
  
      position: absolute;
      left: 0;
      top: 0;
      width: 1rem;
      height: 1rem;
  
      background: white;
      
      border-radius: 50%;
      border: 1px solid var(--border-color);
    }
  
    .checkbox input[type="radio"]:checked + .state::after {
      content: '';
      
      position: absolute;
      top: 4px;
      left: 4px;
      width: 10px;
      height: 10px;
      
      background: var(--light-blue);
      
      border-radius: 50%;
    }
  
    .checkbox input[type="radio"]:checked + .state::before {
      --border-color: var(--dark-blue);
    }
  
  .page-header {
    padding: 2.5rem 2rem;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    background: var(--light-blue) linear-gradient(to right, var(--light-blue), var(--dark-blue));
    color: white;
    
    border-radius: .8rem;
  }
  
    .page-header .logo {
      font-size: 2.5rem;
      font-weight: 100;
      text-transform: uppercase;
    }
  
    .page-header .subtitle {
      font-size: 1.25rem;
      font-weight: 300;
    }
  
  .page-sidebar {
    align-self: start;
  }
  
  .page-content {
    margin-right: 1.5rem;
  }
  
  .streamer {
    display: flex;
  }
  
    .streamer.is-active {
      --title-color: var(--dark-blue);
  
      background-color: hsl(217, 90%, 96%);
    }
  
    .streamer:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  
    .streamer .image {
      margin-right: 1rem;
      flex-shrink: 0;
    }
  
    .streamer .stream {
      color: var(--text-color);
      
      font-weight: 300;
    }
  
  @media (max-width: 900px) {
    #app {
      grid-template-columns: 1fr 1rem [start] repeat(6, minmax(0, 10rem)) [end] 1rem 1fr;
    }
  }
  
  @media (max-width: 700px) {
    #app {
      grid-row-gap: 1.5rem;
    }
  
    .page-header {
      display: unset;
    }
  
    .page-sidebar {
      grid-row-start: 2;
      grid-column: start / end;
    }
  
    .page-content {
      grid-column: start / end;
      
      margin-right: 0;
    }
  }  